.container {
    /* border: 1px solid red; */
    width: 992px;
    margin: auto;
    background-color: antiquewhite;
}

.container .logo {
    /* border: 1px solid red; */
    display: inline-block;
    width: 150px;
    height: 70px;
}

.container .logo img {
    width: 100%;
    height: 100%;
}

.container .nav_menubar {
    /* border: 1px solid; */
    display: inline-block;
    width: 500px;
    vertical-align: top;




}

.container .nav_menubar ul {
    display: inline-block;
}

.container .nav_menubar ul li {
    display: inline-block;


}

.container .nav_menubar ul li a {
    /* border: 1px solid; */
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    padding: 10px 15px;
    color: black;
    font-family: sans-serif;
    transition-duration: .3s;
}

.container .nav_menubar ul li a:hover {
    color: rgba(14, 84, 189, 0.833);
}

.container .nav_login {
    /* border: 1px solid; */
    display: inline-block;
    width: 325px;
    vertical-align: top;
    text-align: right;
    margin-top: 10px;

}

.container .nav_login ul {
    display: inline-block;

}

.container .nav_login ul li {
    display: inline-block;

}

.container .nav_login ul li a {
    /* border: 1px solid; */
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    color: black;
    font-family: sans-serif;
    transition-delay: .3s;
}

.container .nav_login ul li a:hover {

    color: rgba(14, 84, 189, 0.833);

}

.bannar1 {
    /* border: 1px solid red; */
    width: 992px;
    margin: auto;
    position: relative;

}

.bannar1 .bannar1_image {

    display: inline-block;
    width: 40%;
    height: 350px;
    margin-top: 30px;

}

.bannar1 .bannar1_image .img {

    position: absolute;
    display: inline-block;
    height: 400px;
    width: 40%;
    z-index: 9999;
}

.bannar1 .bannar1_image .bg {
    position: absolute;
    height: 400px;
    width: 40%;
    top: 180px;
    left: 40px
}

.bannar1 .bannar1_heading {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    margin-top: 40px;

}

.bannar1 .bannar1_heading h1 {

    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 59px;
    color: rgb(43, 113, 212);
}

.bannar1 .bannar1_heading h6 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
}

.bannar1 .bannar1_service {
    /* border: 1px solid; */
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 150px;

    z-index: 999999;
    left: 280px;
    top: 380px;

}

.bannar1 .bannar1_service h2 i {
    font-size: 40px;
}

.bannar1 .bannar1_service .part1 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 140px;
    height: 100%;
    background-color: rgba(26, 208, 202, 0.84);
}

.bannar1 .bannar1_service .part2 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 145px;
    height: 100%;
    background-color: rgb(227, 165, 30);
}

.bannar1 .bannar1_service .part3 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 145px;
    height: 100%;
    background-color: rgb(179, 50, 186);
}

.bannar1 .bannar1_service .part4 {
    /* border: 1px solid red; */
    display: inline-block;
    width: 145px;
    height: 100%;
    background-color: rgb(43, 113, 212);
}

.bannar1 .bannar1_service h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;

}

.kid_loved {
    /* border: 1px solid red; */
    width: 940px;
    margin: auto;
    margin-top: 270px;
    background-color: rgb(41, 236, 246);
    padding: 30px 30px;
}

.kid_loved .heading {

    font-family: sans-serif;
    margin-left: 30px;
    font-size: 20px;
    text-transform: capitalize;
}

.kid_loved .content {
    margin-top: 10px;
}

.kid_loved .content .content1 {
    display: inline-block;
    border-top: 3px solid;
    width: 150px;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 30px;
    background: #3CCFBB;
}

.kid_loved .content .content2 {
    display: inline-block;
    /* border: 1px solid; */
    width: 70%;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 18px;
   
}

.kid_loved .content .content2 p {
    line-height: 28px;
}

.section1 {
    /* border: 1px solid red; */
    width: 992px;
    margin: auto;
    margin-top: 80px;
}

.section1 .about_heading {
    /* border: 1px solid red; */
    text-align: center;
}
.section1 .about_heading h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}
.section1 .about_heading h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
    color: rgba(1, 1, 1, 0.834);
    
}

.section1 .section1_bannar {
    /* border: 1px solid red; */

   
}

.section1 .section1_bannar .part1 {
    /* border: 1px solid; */
    width: 50%;
    display: inline-block;
   
}

.section1 .section1_bannar .part1 .part1_content {
    /* border: 1px solid red; */
   width: 490px;
   
   
}
.section1 .section1_bannar .part1 .part1_content .mission_part{
    /* border: 1px solid red; */
    display: inline-block;
    width: 47%;
   margin-left: 15px; 
}
i{
    /* color: rgb(58, 88, 194); */
   
    font-size: 50px;
    /* background-color: #4c9771; */
    color: rgb(65, 17, 46);
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
   
}
.section1 .section1_bannar .part1 .part1_content .mission_part h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.section1 .section1_bannar .part1 .part1_content .mission_part p{
    font-family: sans-serif;
          line-height: 26px;
}
.section1 .section1_bannar .part1 .part1_content .mission_part a{
        margin-left: 50px;
        text-decoration: none;
        padding: 10px 15px;
        text-transform: uppercase;
        background: #5946CF;
        background: linear-gradient(to right, #5946CF 21%, #CF2B52 36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.section1 .section1_bannar .part1 .part1_content .teacher_part{
    /* border: 1px solid red; */
    display: inline-block;
    width: 47%;
    
}
.section1 .section1_bannar .part1 .part1_content .teacher_part h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}
.section1 .section1_bannar .part1 .part1_content .teacher_part p{
          font-family: sans-serif;
          line-height: 26px;
          
}
.section1 .section1_bannar .part1 .part1_content .teacher_part a{
    margin-left: 50px;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    background: #5946CF;
    background: linear-gradient(to right, #5946CF 21%, #CF2B52 36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1 .section1_bannar .part1_img {
    /* border: 1px solid red; */
    /* width: 460px;  */
    height: 300px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
}
.section1 .section1_bannar .part1_img img{
   width: 220px;
   height: 100%;
   padding: 10px;
 
   
}

.section1 .part2 {
    width: 48.5%;
    
    vertical-align: top;
    height: 500px;
    /* border: 1px solid red; */
    display: inline-block;
   
   
}
.section1 .part2 img{
    
    width: 100%;
    height: 571px;
    
}
.section2{
    /* border: 1px solid red; */
    background-color: #c4a105cb;
    width: 992px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section2 .Features_heading{
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section2 .Features_heading h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}
.section2 .Features_heading h1{
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 40px;
}
.section2 .features_content{
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-bottom: 50px;
    width: 992px;
}
.section2 .features_content .content{
    /* border: 1px solid red; */
    text-align: center;
    display: inline-block;
    background-color: rgba(238, 242, 247, 0.623);
    width: 222px;
    margin: 10px 10px;
    
}
/* .section2 .features_content .content1{
    border: 1px solid red;
    text-align: center;
    display: inline-block;
    background-color: rgba(238, 242, 247, 0.623);
    width: 240px;
    
} */
.section2 .features_content .content i{
    background-color: #4c9771;
    color: rgb(65, 17, 46);
}
.section2 .features_content .content h1{
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
}
.section2 .features_content .content h5{
   font-family: sans-serif;
   line-height: 26px;
}
/* .section2 .features_content .content2{
    border: 1px solid red;
    text-align: center;
    display: inline-block;
    background-color: rgba(238, 242, 247, 0.623);
     width: 240px;
    
} */
/* .section2 .features_content .content2 i{
    background-color: #4c9771;
    color: rgb(65, 17, 46);
}
.section2 .features_content .content2 h1{
    text-transform: uppercase;
    font-family: sans-serif;
}
.section2 .features_content .content2 h5{
   font-family: sans-serif;
   line-height: 26px;
}
.section2 .features_content .content3{
    border: 1px solid red;
    text-align: center;
    display: inline-block;
    background-color: rgba(238, 242, 247, 0.623);
    width: 240px;
    
}
.section2 .features_content .content3 i{
    background-color: #4c9771;
    color: rgb(65, 17, 46);
}
.section2 .features_content .content3 h1{
    text-transform: uppercase;
    font-family: sans-serif;
}
.section2 .features_content .content3 h5{
   font-family: sans-serif;
   line-height: 26px;
}

.section2 .features_content .content4{
    border: 1px solid red;
    text-align: center;
    display: inline-block;
    background-color: rgba(238, 242, 247, 0.623);
    width: 240px;
    
}
.section2 .features_content .content4 i{
    background-color: #4c9771;
    color: rgb(65, 17, 46);
}
.section2 .features_content .content1 h4{
    text-transform: uppercase;
    font-family: sans-serif;
}
.section2 .features_content .content4 h5{
   font-family: sans-serif;
   line-height: 26px;
}
 */

 .section3{
    /* border: 1px solid red; */
    width: 992px;
    margin: auto;
    height: 550px;
 }
 .section3_img{
    /* border: 1px solid red; */
    width: 60%;
    display: inline-block;
    
    
 }
 .section3 .section3_img .section3_img1{
    /* border: 1px solid pink; */
    height: 400px;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    /* position: relative;
    z-index: 99; */
 }
 .section3 .section3_img .section3_img1 img{
    height: 100%;
    width: 100%;
 }
 .section3 .section3_img .section3_img2{
    /* border: 1px solid red; */
    display: inline-block;
    height: 400px;
    width:350px;
    position: relative;
    position: absolute;
    right: 530px;
    top: 2500px;
    z-index: 999;
    background: rgb(219,172,16);
background: linear-gradient(90deg, rgba(219,172,16,1) 0%, rgba(194,79,166,0.7874747311033788) 100%);
 }
 .section3 .section3_img .section3_img2 img{
       width: 270px;
       height: 100%;
       position: absolute;
       right: 38px;
       top: 60px;
      
 }
 .section3 .section3_content{
    /* border: 1px solid red; */
    display: inline-block;
    width: 38%;
    vertical-align: top;
    margin: 120px 0px;
 }
 .section3 .section3_content h1{
    font-family: sans-serif;
    text-transform: capitalize;
    color: #4973e7;
    font-weight: 600px;
    font-size: 40px;
 }
 .section3 .section3_content  p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 36px;
    font-size: 18px;
   text-justify: auto;
 }
 .section3 .section3_content a{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    text-transform: uppercase;
    color: rgba(175, 79, 15, 0.89); 
 }
 .section4{
    border: 1px solid red;
    width: 992px;
    margin: auto;
    background-color: #0868b8e3;

 }
 .section4 h1{
    font-family: sans-serif;
    text-transform: capitalize;
    color: white;
    font-weight: 600px;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 18px;

 }
 .section4 .section4_content1{
    width: 45%;
    /* border: 1px solid red; */
    display: inline-block;
    font-family: sans-serif;
    line-height: 36px;
    font-size: 18px;
    margin: 20px 20px;
    color: azure;
    text-justify: auto;
    margin-bottom: 40px;
 }
 .section4 .section4_content2{
    width: 45%;
    /* border: 1px solid red; */
    display: inline-block;
    font-family: sans-serif;
    line-height: 36px;
    font-size: 18px;
    margin: 20px 20px;
    color: azure;
    text-justify: auto;
   
 }